{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{- /* Co-authors? */ -}}
  {{- $num_authors := len (.GetTerms $taxonomy) -}}
  {{- if gt $num_authors 0 }} with {{ end -}}

  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- if ne .Params.authors "admin" -}}
      {{- $name := .Params.title | default ($value|markdownify) -}}
      
      {{- if and (gt $index 0) (lt $index (sub $num_authors 1)) -}}, {{- else if and (gt $index 0) (eq $index (sub $num_authors 1)) -}}and {{ end -}}
      {{- $name -}}
    {{ end }}
  {{- end -}}
{{- end -}}
